<table class="wikitable sortable jquery-tablesorter" style="width:100%; text-align:center;">

<thead><tr style="vertical-align: top;">
<th colspan="2" style="vertical-align: middle">Rank
</th>
<th rowspan="2" style="vertical-align: middle" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">State
</th>
<th colspan="2" style="vertical-align: middle">Census population
</th>
<th colspan="2" style="vertical-align: middle">Change, 2010–2019
</th>
<th rowspan="2" style="vertical-align: middle" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Total <a href="/wiki/United_States_House_of_Representatives" title="United States House of Representatives">U.S. House of<br> Representatives</a> Seats
</th>
<th rowspan="2" style="vertical-align: middle" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Estimated population per<br> electoral vote, 2019<sup id="cite_ref-8" class="reference"><a href="#cite_note-8">[note 1]</a></sup>
</th>
<th colspan="2" style="vertical-align: middle">Census population per House seat
</th>
<th rowspan="2" style="vertical-align: middle" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Percent of the total U.S.<br> population, 2019<sup id="cite_ref-9" class="reference"><a href="#cite_note-9">[note 2]</a></sup>
</th></tr><tr>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Current
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">2010
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Estimate, <br>July 1, 2019<sup id="cite_ref-Census2019_10-0" class="reference"><a href="#cite_note-Census2019-10">[8]</a></sup>
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">April 1, 2010<sup id="cite_ref-11" class="reference"><a href="#cite_note-11">[9]</a></sup>
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Percent<br><sup id="cite_ref-12" class="reference"><a href="#cite_note-12">[note 3]</a></sup>
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Absolute
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">Estimated, 2019
</th>
<th class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">2010
</th></tr></thead><tbody>

<tr>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/23px-Flag_of_California.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/35px-Flag_of_California.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_California.svg/45px-Flag_of_California.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span><a href="/wiki/California" title="California">California</a>
</td>
<td>39,512,223
</td>
<td>37,253,956
</td>
<td>6.1%
</td>
<td>+2,257,700
</td>
<td align="center"><span data-sort-value="7001530000000000000♠">53</span>
</td>
<td>718,404
</td>
<td>745,514
</td>
<td>702,885
</td>
<td>11.91%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Texas.svg/23px-Flag_of_Texas.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Texas.svg/35px-Flag_of_Texas.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Texas.svg/45px-Flag_of_Texas.svg.png 2x" data-file-width="1080" data-file-height="720">&nbsp;</span><a href="/wiki/Texas" title="Texas">Texas</a>
</td>
<td>28,995,881
</td>
<td>25,145,561
</td>
<td>15.3%
</td>
<td>+3,850,320
</td>
<td align="center"><span data-sort-value="7001360000000000000♠">36</span>
</td>
<td>763,050
</td>
<td>805,441
</td>
<td>698,503
</td>
<td>8.74%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000300000000000000♠">3</span>
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Florida.svg/23px-Flag_of_Florida.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Florida.svg/35px-Flag_of_Florida.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Florida.svg/45px-Flag_of_Florida.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/Florida" title="Florida">Florida</a>
</td>
<td>21,477,737
</td>
<td>18,801,310
</td>
<td>14.2%
</td>
<td>+2,676,427
</td>
<td align="center"><span data-sort-value="7001270000000000000♠">27</span>
</td>
<td>740,611
</td>
<td>795,472
</td>
<td>696,468
</td>
<td>6.47%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td align="center"><span data-sort-value="7000300000000000000♠">3</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_New_York.svg/23px-Flag_of_New_York.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_New_York.svg/35px-Flag_of_New_York.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_New_York.svg/46px-Flag_of_New_York.svg.png 2x" data-file-width="1280" data-file-height="640">&nbsp;</span><a href="/wiki/New_York_(state)" title="New York (state)">New York</a>
</td>
<td>19,453,561
</td>
<td>19,378,102
</td>
<td>0.4%
</td>
<td>+75,459
</td>
<td align="center"><span data-sort-value="7001270000000000000♠">27</span>
</td>
<td>670,812
</td>
<td>720,502
</td>
<td>717,707
</td>
<td>5.86%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000500000000000000♠">5</span>
</td>
<td align="center"><span data-sort-value="7000600000000000000♠">6</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Pennsylvania.svg/23px-Flag_of_Pennsylvania.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Pennsylvania.svg/35px-Flag_of_Pennsylvania.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Flag_of_Pennsylvania.svg/45px-Flag_of_Pennsylvania.svg.png 2x" data-file-width="675" data-file-height="450">&nbsp;</span><a href="/wiki/Pennsylvania" title="Pennsylvania">Pennsylvania</a>
</td>
<td>12,801,989
</td>
<td>12,702,379
</td>
<td>0.8%
</td>
<td>+99,610
</td>
<td align="center"><span data-sort-value="7001180000000000000♠">18</span>
</td>
<td>640,099
</td>
<td>711,222
</td>
<td>705,715
</td>
<td>3.86%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000600000000000000♠">6</span>
</td>
<td align="center"><span data-sort-value="7000500000000000000♠">5</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_Illinois.svg/23px-Flag_of_Illinois.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_Illinois.svg/35px-Flag_of_Illinois.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/01/Flag_of_Illinois.svg/46px-Flag_of_Illinois.svg.png 2x" data-file-width="1000" data-file-height="600">&nbsp;</span><a href="/wiki/Illinois" title="Illinois">Illinois</a>
</td>
<td>12,671,821
</td>
<td>12,830,632
</td>
<td>–1.2%
</td>
<td>–158,811
</td>
<td align="center"><span data-sort-value="7001180000000000000♠">18</span>
</td>
<td>633,591
</td>
<td>703,990
</td>
<td>712,864
</td>
<td>3.82%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000700000000000000♠">7</span>
</td>
<td align="center"><span data-sort-value="7000700000000000000♠">7</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Ohio.svg/25px-Flag_of_Ohio.svg.png" decoding="async" width="25" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Ohio.svg/38px-Flag_of_Ohio.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Ohio.svg/50px-Flag_of_Ohio.svg.png 2x" data-file-width="520" data-file-height="320">&nbsp;</span><a href="/wiki/Ohio" title="Ohio">Ohio</a>
</td>
<td>11,689,100
</td>
<td>11,536,504
</td>
<td>1.3%
</td>
<td>+152,596
</td>
<td align="center"><span data-sort-value="7001160000000000000♠">16</span>
</td>
<td>649,394
</td>
<td>730,569
</td>
<td>721,032
</td>
<td>3.52%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Georgia_%28U.S._state%29.svg/23px-Flag_of_Georgia_%28U.S._state%29.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Georgia_%28U.S._state%29.svg/35px-Flag_of_Georgia_%28U.S._state%29.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Georgia_%28U.S._state%29.svg/46px-Flag_of_Georgia_%28U.S._state%29.svg.png 2x" data-file-width="1728" data-file-height="1080">&nbsp;</span><a href="/wiki/Georgia_(U.S._state)" title="Georgia (U.S. state)">Georgia</a>
</td>
<td>10,617,423
</td>
<td>9,687,653
</td>
<td>9.6%
</td>
<td>+929,770
</td>
<td align="center"><span data-sort-value="7001140000000000000♠">14</span>
</td>
<td>663,589
</td>
<td>758,387
</td>
<td>691,975
</td>
<td>3.20%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td align="center"><span data-sort-value="7001100000000000000♠">10</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_North_Carolina.svg/23px-Flag_of_North_Carolina.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_North_Carolina.svg/35px-Flag_of_North_Carolina.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bb/Flag_of_North_Carolina.svg/45px-Flag_of_North_Carolina.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/North_Carolina" title="North Carolina">North Carolina</a>
</td>
<td>10,488,084
</td>
<td>9,535,483
</td>
<td>10.0%
</td>
<td>+952,601
</td>
<td align="center"><span data-sort-value="7001130000000000000♠">13</span>
</td>
<td>699,206
</td>
<td>806,776
</td>
<td>733,498
</td>
<td>3.16%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001100000000000000♠">10</span>
</td>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Flag_of_Michigan.svg/23px-Flag_of_Michigan.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Flag_of_Michigan.svg/35px-Flag_of_Michigan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Flag_of_Michigan.svg/45px-Flag_of_Michigan.svg.png 2x" data-file-width="685" data-file-height="457">&nbsp;</span><a href="/wiki/Michigan" title="Michigan">Michigan</a>
</td>
<td>9,986,857
</td>
<td>9,883,640
</td>
<td>1.04%
</td>
<td>+103,217
</td>
<td align="center"><span data-sort-value="7001140000000000000♠">14</span>
</td>
<td>624,179
</td>
<td>713,347
</td>
<td>705,974
</td>
<td>3.01%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001110000000000000♠">11</span>
</td>
<td align="center"><span data-sort-value="7001110000000000000♠">11</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_New_Jersey.svg/23px-Flag_of_New_Jersey.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_New_Jersey.svg/35px-Flag_of_New_Jersey.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_New_Jersey.svg/46px-Flag_of_New_Jersey.svg.png 2x" data-file-width="512" data-file-height="308">&nbsp;</span><a href="/wiki/New_Jersey" title="New Jersey">New Jersey</a>
</td>
<td>8,882,190
</td>
<td>8,791,894
</td>
<td>1.03%
</td>
<td>+90,296
</td>
<td align="center"><span data-sort-value="7001120000000000000♠">12</span>
</td>
<td>634,442
</td>
<td>740,183
</td>
<td>732,658
</td>
<td>2.68%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001120000000000000♠">12</span>
</td>
<td align="center"><span data-sort-value="7001120000000000000♠">12</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Virginia.svg/22px-Flag_of_Virginia.svg.png" decoding="async" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Virginia.svg/34px-Flag_of_Virginia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Virginia.svg/44px-Flag_of_Virginia.svg.png 2x" data-file-width="1280" data-file-height="877">&nbsp;</span><a href="/wiki/Virginia" title="Virginia">Virginia</a>
</td>
<td>8,535,519
</td>
<td>8,001,024
</td>
<td>6.7%
</td>
<td>+534,495
</td>
<td align="center"><span data-sort-value="7001110000000000000♠">11</span>
</td>
<td>656,578
</td>
<td>775,956
</td>
<td>727,366
</td>
<td>2.57%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001130000000000000♠">13</span>
</td>
<td align="center"><span data-sort-value="7001130000000000000♠">13</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Washington.svg/23px-Flag_of_Washington.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Washington.svg/35px-Flag_of_Washington.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/54/Flag_of_Washington.svg/46px-Flag_of_Washington.svg.png 2x" data-file-width="1106" data-file-height="658">&nbsp;</span><a href="/wiki/Washington_(state)" title="Washington (state)">Washington</a>
</td>
<td>7,614,893
</td>
<td>6,724,540
</td>
<td>13.2%
</td>
<td>+890,353
</td>
<td align="center"><span data-sort-value="7001100000000000000♠">10</span>
</td>
<td>634,574
</td>
<td>751,489
</td>
<td>672,454
</td>
<td>2.29%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001140000000000000♠">14</span>
</td>
<td align="center"><span data-sort-value="7001160000000000000♠">16</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arizona.svg/23px-Flag_of_Arizona.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arizona.svg/35px-Flag_of_Arizona.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arizona.svg/45px-Flag_of_Arizona.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span><a href="/wiki/Arizona" title="Arizona">Arizona</a>
</td>
<td>7,278,717
</td>
<td>6,392,017
</td>
<td>13.9%
</td>
<td>+886,700
</td>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td>661,702
</td>
<td>808,746
</td>
<td>710,224
</td>
<td>2.19%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001150000000000000♠">15</span>
</td>
<td align="center"><span data-sort-value="7001140000000000000♠">14</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Massachusetts.svg/23px-Flag_of_Massachusetts.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Massachusetts.svg/35px-Flag_of_Massachusetts.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_of_Massachusetts.svg/46px-Flag_of_Massachusetts.svg.png 2x" data-file-width="1500" data-file-height="900">&nbsp;</span><a href="/wiki/Massachusetts" title="Massachusetts">Massachusetts</a>
</td>
<td>6,892,503
</td>
<td>6,547,629
</td>
<td>5.3%
</td>
<td>+344,874
</td>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td>626,591
</td>
<td>765,834
</td>
<td>727,514
</td>
<td>2.09%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001160000000000000♠">16</span>
</td>
<td align="center"><span data-sort-value="7001170000000000000♠">17</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Tennessee.svg/23px-Flag_of_Tennessee.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Tennessee.svg/35px-Flag_of_Tennessee.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Flag_of_Tennessee.svg/46px-Flag_of_Tennessee.svg.png 2x" data-file-width="500" data-file-height="300">&nbsp;</span><a href="/wiki/Tennessee" title="Tennessee">Tennessee</a>
</td>
<td>6,829,174
</td>
<td>6,346,105
</td>
<td>7.6%
</td>
<td>+483,069
</td>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td>620,834
</td>
<td>758,797
</td>
<td>705,123
</td>
<td>2.06%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001170000000000000♠">17</span>
</td>
<td align="center"><span data-sort-value="7001150000000000000♠">15</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Flag_of_Indiana.svg/23px-Flag_of_Indiana.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Flag_of_Indiana.svg/35px-Flag_of_Indiana.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Flag_of_Indiana.svg/45px-Flag_of_Indiana.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/Indiana" title="Indiana">Indiana</a>
</td>
<td>6,732,219
</td>
<td>6,483,802
</td>
<td>3.8%
</td>
<td>+248,417
</td>
<td align="center"><span data-sort-value="7000900000000000000♠">9</span>
</td>
<td>612,020
</td>
<td>748,024
</td>
<td>720,422
</td>
<td>2.03%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001180000000000000♠">18</span>
</td>
<td align="center"><span data-sort-value="7001180000000000000♠">18</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Flag_of_Missouri.svg/23px-Flag_of_Missouri.svg.png" decoding="async" width="23" height="13" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Flag_of_Missouri.svg/35px-Flag_of_Missouri.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Flag_of_Missouri.svg/46px-Flag_of_Missouri.svg.png 2x" data-file-width="2400" data-file-height="1400">&nbsp;</span><a href="/wiki/Missouri" title="Missouri">Missouri</a>
</td>
<td>6,137,428
</td>
<td>5,988,927
</td>
<td>2.48%
</td>
<td>+148,501
</td>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td>613,743
</td>
<td>767,179
</td>
<td>748,615
</td>
<td>1.85%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001190000000000000♠">19</span>
</td>
<td align="center"><span data-sort-value="7001190000000000000♠">19</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Maryland.svg/23px-Flag_of_Maryland.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Maryland.svg/35px-Flag_of_Maryland.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Flag_of_Maryland.svg/45px-Flag_of_Maryland.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/Maryland" title="Maryland">Maryland</a>
</td>
<td>6,045,680
</td>
<td>5,773,552
</td>
<td>4.7%
</td>
<td>+272,128
</td>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td>604,568
</td>
<td>755,710
</td>
<td>721,694
</td>
<td>1.82%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001200000000000000♠">20</span>
</td>
<td align="center"><span data-sort-value="7001200000000000000♠">20</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_Wisconsin.svg/23px-Flag_of_Wisconsin.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_Wisconsin.svg/35px-Flag_of_Wisconsin.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_Wisconsin.svg/45px-Flag_of_Wisconsin.svg.png 2x" data-file-width="675" data-file-height="450">&nbsp;</span><a href="/wiki/Wisconsin" title="Wisconsin">Wisconsin</a>
</td>
<td>5,822,434
</td>
<td>5,686,986
</td>
<td>2.4%
</td>
<td>+135,448
</td>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td>582,243
</td>
<td>727,804
</td>
<td>710,873
</td>
<td>1.75%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001210000000000000♠">21</span>
</td>
<td align="center"><span data-sort-value="7001220000000000000♠">22</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Flag_of_Colorado.svg/23px-Flag_of_Colorado.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/46/Flag_of_Colorado.svg/35px-Flag_of_Colorado.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/46/Flag_of_Colorado.svg/45px-Flag_of_Colorado.svg.png 2x" data-file-width="1800" data-file-height="1200">&nbsp;</span><a href="/wiki/Colorado" title="Colorado">Colorado</a>
</td>
<td>5,758,736
</td>
<td>5,029,196
</td>
<td>14.5%
</td>
<td>+729,540
</td>
<td align="center"><span data-sort-value="7000700000000000000♠">7</span>
</td>
<td>639,860
</td>
<td>822,677
</td>
<td>720,704
</td>
<td>1.74%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001220000000000000♠">22</span>
</td>
<td align="center"><span data-sort-value="7001210000000000000♠">21</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Minnesota.svg/23px-Flag_of_Minnesota.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Minnesota.svg/35px-Flag_of_Minnesota.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Minnesota.svg/46px-Flag_of_Minnesota.svg.png 2x" data-file-width="500" data-file-height="318">&nbsp;</span><a href="/wiki/Minnesota" title="Minnesota">Minnesota</a>
</td>
<td>5,639,632
</td>
<td>5,303,925
</td>
<td>6.3%
</td>
<td>+335,707
</td>
<td align="center"><span data-sort-value="7000800000000000000♠">8</span>
</td>
<td>563,963
</td>
<td>704,954
</td>
<td>662,991
</td>
<td>1.70%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001230000000000000♠">23</span>
</td>
<td align="center"><span data-sort-value="7001240000000000000♠">24</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/69/Flag_of_South_Carolina.svg/23px-Flag_of_South_Carolina.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/69/Flag_of_South_Carolina.svg/35px-Flag_of_South_Carolina.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/69/Flag_of_South_Carolina.svg/45px-Flag_of_South_Carolina.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/South_Carolina" title="South Carolina">South Carolina</a>
</td>
<td>5,148,714
</td>
<td>4,625,364
</td>
<td>11.3%
</td>
<td>+523,350
</td>
<td align="center"><span data-sort-value="7000700000000000000♠">7</span>
</td>
<td>572,079
</td>
<td>735,531
</td>
<td>660,766
</td>
<td>1.55%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001240000000000000♠">24</span>
</td>
<td align="center"><span data-sort-value="7001230000000000000♠">23</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/23px-Flag_of_Alabama.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/35px-Flag_of_Alabama.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Flag_of_Alabama.svg/45px-Flag_of_Alabama.svg.png 2x" data-file-width="600" data-file-height="400">&nbsp;</span><a href="/wiki/Alabama" title="Alabama">Alabama</a>
</td>
<td>4,903,185
</td>
<td>4,779,736
</td>
<td>2.6%
</td>
<td>+123,449
</td>
<td align="center"><span data-sort-value="7000700000000000000♠">7</span>
</td>
<td>544,798
</td>
<td>700,455
</td>
<td>682,819
</td>
<td>1.48%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001250000000000000♠">25</span>
</td>
<td align="center"><span data-sort-value="7001250000000000000♠">25</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_Louisiana.svg/23px-Flag_of_Louisiana.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_Louisiana.svg/35px-Flag_of_Louisiana.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_Louisiana.svg/46px-Flag_of_Louisiana.svg.png 2x" data-file-width="990" data-file-height="630">&nbsp;</span><a href="/wiki/Louisiana" title="Louisiana">Louisiana</a>
</td>
<td>4,648,794
</td>
<td>4,533,372
</td>
<td>2.546%
</td>
<td>+115,422
</td>
<td align="center"><span data-sort-value="7000600000000000000♠">6</span>
</td>
<td>581,099
</td>
<td>774,799
</td>
<td>755,562
</td>
<td>1.40%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001260000000000000♠">26</span>
</td>
<td align="center"><span data-sort-value="7001260000000000000♠">26</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Flag_of_Kentucky.svg/23px-Flag_of_Kentucky.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Flag_of_Kentucky.svg/35px-Flag_of_Kentucky.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Flag_of_Kentucky.svg/46px-Flag_of_Kentucky.svg.png 2x" data-file-width="950" data-file-height="500">&nbsp;</span><a href="/wiki/Kentucky" title="Kentucky">Kentucky</a>
</td>
<td>4,467,673
</td>
<td>4,339,367
</td>
<td>2.96%
</td>
<td>+128,306
</td>
<td align="center"><span data-sort-value="7000600000000000000♠">6</span>
</td>
<td>558,459
</td>
<td>744,612
</td>
<td>723,228
</td>
<td>1.35%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001270000000000000♠">27</span>
</td>
<td align="center"><span data-sort-value="7001270000000000000♠">27</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Oregon.svg/23px-Flag_of_Oregon.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Oregon.svg/35px-Flag_of_Oregon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Flag_of_Oregon.svg/46px-Flag_of_Oregon.svg.png 2x" data-file-width="750" data-file-height="450">&nbsp;</span><a href="/wiki/Oregon" title="Oregon">Oregon</a>
</td>
<td>4,217,737
</td>
<td>3,831,074
</td>
<td>10.1%
</td>
<td>+386,663
</td>
<td align="center"><span data-sort-value="7000500000000000000♠">5</span>
</td>
<td>602,534
</td>
<td>843,547
</td>
<td>766,215
</td>
<td>1.27%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001280000000000000♠">28</span>
</td>
<td align="center"><span data-sort-value="7001280000000000000♠">28</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Oklahoma.svg/23px-Flag_of_Oklahoma.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Oklahoma.svg/35px-Flag_of_Oklahoma.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Flag_of_Oklahoma.svg/45px-Flag_of_Oklahoma.svg.png 2x" data-file-width="675" data-file-height="450">&nbsp;</span><a href="/wiki/Oklahoma" title="Oklahoma">Oklahoma</a>
</td>
<td>3,956,971
</td>
<td>3,751,351
</td>
<td>5.5%
</td>
<td>+205,620
</td>
<td align="center"><span data-sort-value="7000500000000000000♠">5</span>
</td>
<td>565,282
</td>
<td>791,394
</td>
<td>750,270
</td>
<td>1.19%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001290000000000000♠">29</span>
</td>
<td align="center"><span data-sort-value="7001300000000000000♠">30</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Flag_of_Connecticut.svg/20px-Flag_of_Connecticut.svg.png" decoding="async" width="20" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/96/Flag_of_Connecticut.svg/30px-Flag_of_Connecticut.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/96/Flag_of_Connecticut.svg/39px-Flag_of_Connecticut.svg.png 2x" data-file-width="594" data-file-height="459">&nbsp;</span><a href="/wiki/Connecticut" title="Connecticut">Connecticut</a>
</td>
<td>3,565,287
</td>
<td>3,574,097
</td>
<td>–0.2%
</td>
<td>–8,810
</td>
<td align="center"><span data-sort-value="7000500000000000000♠">5</span>
</td>
<td>509,327
</td>
<td>713,057
</td>
<td>714,824
</td>
<td>1.07%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001300000000000000♠">30</span>
</td>
<td align="center"><span data-sort-value="7001350000000000000♠">35</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_Utah.svg/23px-Flag_of_Utah.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_Utah.svg/35px-Flag_of_Utah.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Flag_of_Utah.svg/46px-Flag_of_Utah.svg.png 2x" data-file-width="1600" data-file-height="1000">&nbsp;</span><a href="/wiki/Utah" title="Utah">Utah</a>
</td>
<td>3,205,958
</td>
<td>2,763,885
</td>
<td>16.0%
</td>
<td>+442,073
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>534,326
</td>
<td>801,490
</td>
<td>690,972
</td>
<td>0.97%
</td></tr>
<tr style="background:#f5f5d3;">
<td align="center"><span data-sort-value="7001310000000000000♠">31</span>
</td>
<td align="center"><span data-sort-value="7001290000000000000♠">29</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_Puerto_Rico.svg/23px-Flag_of_Puerto_Rico.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_Puerto_Rico.svg/35px-Flag_of_Puerto_Rico.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_Puerto_Rico.svg/45px-Flag_of_Puerto_Rico.svg.png 2x" data-file-width="900" data-file-height="600">&nbsp;</span><a href="/wiki/Puerto_Rico" title="Puerto Rico">Puerto Rico</a>
</td>
<td>3,193,694
</td>
<td>3,725,789
</td>
<td>–14.3%
</td>
<td>–532,095
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#Puerto_Rico" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>3,193,694
</td>
<td>3,725,789
</td>
<td>0.96%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001320000000000000♠">32</span>
</td>
<td align="center"><span data-sort-value="7001310000000000000♠">31</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Flag_of_Iowa.svg/23px-Flag_of_Iowa.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Flag_of_Iowa.svg/35px-Flag_of_Iowa.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Flag_of_Iowa.svg/45px-Flag_of_Iowa.svg.png 2x" data-file-width="714" data-file-height="477">&nbsp;</span><a href="/wiki/Iowa" title="Iowa">Iowa</a>
</td>
<td>3,155,070
</td>
<td>3,046,355
</td>
<td>3.6%
</td>
<td>+108,715
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>525,845
</td>
<td>788,768
</td>
<td>761,717
</td>
<td>0.95%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001330000000000000♠">33</span>
</td>
<td align="center"><span data-sort-value="7001360000000000000♠">36</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Flag_of_Nevada.svg/23px-Flag_of_Nevada.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Flag_of_Nevada.svg/35px-Flag_of_Nevada.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Flag_of_Nevada.svg/45px-Flag_of_Nevada.svg.png 2x" data-file-width="750" data-file-height="500">&nbsp;</span><a href="/wiki/Nevada" title="Nevada">Nevada</a>
</td>
<td>3,080,156
</td>
<td>2,700,551
</td>
<td>14.1%
</td>
<td>+379,605
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>513,359
</td>
<td>770,039
</td>
<td>675,173
</td>
<td>0.93%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001340000000000000♠">34</span>
</td>
<td align="center"><span data-sort-value="7001330000000000000♠">33</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arkansas.svg/23px-Flag_of_Arkansas.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arkansas.svg/35px-Flag_of_Arkansas.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Arkansas.svg/45px-Flag_of_Arkansas.svg.png 2x" data-file-width="450" data-file-height="300">&nbsp;</span><a href="/wiki/Arkansas" title="Arkansas">Arkansas</a>
</td>
<td>3,017,804
</td>
<td>2,915,918
</td>
<td>3.5%
</td>
<td>+101,886
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>502,967
</td>
<td>754,451
</td>
<td>728,990
</td>
<td>0.91%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001350000000000000♠">35</span>
</td>
<td align="center"><span data-sort-value="7001320000000000000♠">32</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Flag_placeholder.svg/23px-Flag_placeholder.svg.png" decoding="async" width="23" height="15" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Flag_placeholder.svg/35px-Flag_placeholder.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Flag_placeholder.svg/45px-Flag_placeholder.svg.png 2x" data-file-width="24" data-file-height="16">&nbsp;</span><a href="/wiki/Mississippi" title="Mississippi">Mississippi</a>
</td>
<td>2,976,149
</td>
<td>2,967,297
</td>
<td>0.3%
</td>
<td>+8,852
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>496,024
</td>
<td>744,037
</td>
<td>742,026
</td>
<td>0.90%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001360000000000000♠">36</span>
</td>
<td align="center"><span data-sort-value="7001340000000000000♠">34</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flag_of_Kansas.svg/23px-Flag_of_Kansas.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flag_of_Kansas.svg/35px-Flag_of_Kansas.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flag_of_Kansas.svg/46px-Flag_of_Kansas.svg.png 2x" data-file-width="5400" data-file-height="3240">&nbsp;</span><a href="/wiki/Kansas" title="Kansas">Kansas</a>
</td>
<td>2,913,314
</td>
<td>2,853,118
</td>
<td>2.1%
</td>
<td>+60,196
</td>
<td align="center"><span data-sort-value="7000400000000000000♠">4</span>
</td>
<td>485,552
</td>
<td>728,329
</td>
<td>713,280
</td>
<td>0.88%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001370000000000000♠">37</span>
</td>
<td align="center"><span data-sort-value="7001370000000000000♠">37</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_New_Mexico.svg/23px-Flag_of_New_Mexico.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_New_Mexico.svg/35px-Flag_of_New_Mexico.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_New_Mexico.svg/45px-Flag_of_New_Mexico.svg.png 2x" data-file-width="1200" data-file-height="800">&nbsp;</span><a href="/wiki/New_Mexico" title="New Mexico">New Mexico</a>
</td>
<td>2,096,829
</td>
<td>2,059,179
</td>
<td>1.8%
</td>
<td>+37,650
</td>
<td align="center"><span data-sort-value="7000300000000000000♠">3</span>
</td>
<td>419,366
</td>
<td>698,943
</td>
<td>686,393
</td>
<td>0.63%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001380000000000000♠">38</span>
</td>
<td align="center"><span data-sort-value="7001390000000000000♠">39</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Flag_of_Nebraska.svg/23px-Flag_of_Nebraska.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Flag_of_Nebraska.svg/35px-Flag_of_Nebraska.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Flag_of_Nebraska.svg/46px-Flag_of_Nebraska.svg.png 2x" data-file-width="750" data-file-height="450">&nbsp;</span><a href="/wiki/Nebraska" title="Nebraska">Nebraska</a>
</td>
<td>1,934,408
</td>
<td>1,826,341
</td>
<td>5.9%
</td>
<td>+108,067
</td>
<td align="center"><span data-sort-value="7000300000000000000♠">3</span>
</td>
<td>386,882
</td>
<td>644,803
</td>
<td>608,780
</td>
<td>0.58%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001390000000000000♠">39</span>
</td>
<td align="center"><span data-sort-value="7001380000000000000♠">38</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_West_Virginia.svg/23px-Flag_of_West_Virginia.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_West_Virginia.svg/35px-Flag_of_West_Virginia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/22/Flag_of_West_Virginia.svg/46px-Flag_of_West_Virginia.svg.png 2x" data-file-width="760" data-file-height="400">&nbsp;</span><a href="/wiki/West_Virginia" title="West Virginia">West Virginia</a>
</td>
<td>1,792,147
</td>
<td>1,852,994
</td>
<td>–3.3%
</td>
<td>–60,847
</td>
<td align="center"><span data-sort-value="7000300000000000000♠">3</span>
</td>
<td>358,435
</td>
<td>597,391
</td>
<td>617,670
</td>
<td>0.54%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001400000000000000♠">40</span>
</td>
<td align="center"><span data-sort-value="7001400000000000000♠">40</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_Idaho.svg/19px-Flag_of_Idaho.svg.png" decoding="async" width="19" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_Idaho.svg/29px-Flag_of_Idaho.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/a/a4/Flag_of_Idaho.svg/38px-Flag_of_Idaho.svg.png 2x" data-file-width="660" data-file-height="520">&nbsp;</span><a href="/wiki/Idaho" title="Idaho">Idaho</a>
</td>
<td>1,787,065
</td>
<td>1,567,582
</td>
<td>14.0%
</td>
<td>+219,483
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td>446,516
</td>
<td>893,033
</td>
<td>783,826
</td>
<td>0.54%
</td></tr>

<tr>
<td align="center"><span data-sort-value="7001410000000000000♠">41</span>
</td>
<td align="center"><span data-sort-value="7001410000000000000♠">41</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Flag_of_Hawaii.svg/23px-Flag_of_Hawaii.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Flag_of_Hawaii.svg/35px-Flag_of_Hawaii.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Flag_of_Hawaii.svg/46px-Flag_of_Hawaii.svg.png 2x" data-file-width="1200" data-file-height="600">&nbsp;</span><a href="/wiki/Hawaii" title="Hawaii">Hawaii</a>
</td>
<td>1,415,872
</td>
<td>1,360,301
</td>
<td>4.1%
</td>
<td>+55,571
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td>353,968
</td>
<td>707,936
</td>
<td>680,151
</td>
<td>0.43%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001420000000000000♠">42</span>
</td>
<td align="center"><span data-sort-value="7001430000000000000♠">43</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_New_Hampshire.svg/23px-Flag_of_New_Hampshire.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_New_Hampshire.svg/35px-Flag_of_New_Hampshire.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/28/Flag_of_New_Hampshire.svg/45px-Flag_of_New_Hampshire.svg.png 2x" data-file-width="660" data-file-height="440">&nbsp;</span><a href="/wiki/New_Hampshire" title="New Hampshire">New Hampshire</a>
</td>
<td>1,359,711
</td>
<td>1,316,470
</td>
<td>3.3%
</td>
<td>+43,241
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td>339,928
</td>
<td>679,856
</td>
<td>658,233
</td>
<td>0.41%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001430000000000000♠">43</span>
</td>
<td align="center"><span data-sort-value="7001420000000000000♠">42</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/35/Flag_of_Maine.svg/19px-Flag_of_Maine.svg.png" decoding="async" width="19" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/35/Flag_of_Maine.svg/29px-Flag_of_Maine.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/35/Flag_of_Maine.svg/38px-Flag_of_Maine.svg.png 2x" data-file-width="6336" data-file-height="4992">&nbsp;</span><a href="/wiki/Maine" title="Maine">Maine</a>
</td>
<td>1,344,212
</td>
<td>1,328,361
</td>
<td>1.2%
</td>
<td>+15,851
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td>336,053
</td>
<td>672,106
</td>
<td>664,181
</td>
<td>0.41%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001440000000000000♠">44</span>
</td>
<td align="center"><span data-sort-value="7001450000000000000♠">45</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_Montana.svg/23px-Flag_of_Montana.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_Montana.svg/35px-Flag_of_Montana.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_Montana.svg/45px-Flag_of_Montana.svg.png 2x" data-file-width="1440" data-file-height="960">&nbsp;</span><a href="/wiki/Montana" title="Montana">Montana</a>
</td>
<td>1,068,778
</td>
<td>989,415
</td>
<td>8.0%
</td>
<td>+79,363
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>356,259
</td>
<td>1,068,778
</td>
<td>989,417
</td>
<td>0.32%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001450000000000000♠">45</span>
</td>
<td align="center"><span data-sort-value="7001440000000000000♠">44</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Rhode_Island.svg/19px-Flag_of_Rhode_Island.svg.png" decoding="async" width="19" height="17" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Rhode_Island.svg/30px-Flag_of_Rhode_Island.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Rhode_Island.svg/39px-Flag_of_Rhode_Island.svg.png 2x" data-file-width="660" data-file-height="580">&nbsp;</span><a href="/wiki/Rhode_Island" title="Rhode Island">Rhode Island</a>
</td>
<td>1,059,361
</td>
<td>1,052,567
</td>
<td>0.6%
</td>
<td>+6,794
</td>
<td align="center"><span data-sort-value="7000200000000000000♠">2</span>
</td>
<td>264,840
</td>
<td>529,681
</td>
<td>526,466
</td>
<td>0.32%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001460000000000000♠">46</span>
</td>
<td align="center"><span data-sort-value="7001460000000000000♠">46</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Flag_of_Delaware.svg/23px-Flag_of_Delaware.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Flag_of_Delaware.svg/35px-Flag_of_Delaware.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Flag_of_Delaware.svg/45px-Flag_of_Delaware.svg.png 2x" data-file-width="600" data-file-height="400">&nbsp;</span><a href="/wiki/Delaware" title="Delaware">Delaware</a>
</td>
<td>973,764
</td>
<td>897,934
</td>
<td>8.4%
</td>
<td>+75,830
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>324,588
</td>
<td>973,764
</td>
<td>897,934
</td>
<td>0.29%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001470000000000000♠">47</span>
</td>
<td align="center"><span data-sort-value="7001470000000000000♠">47</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_South_Dakota.svg/23px-Flag_of_South_Dakota.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_South_Dakota.svg/35px-Flag_of_South_Dakota.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_South_Dakota.svg/46px-Flag_of_South_Dakota.svg.png 2x" data-file-width="720" data-file-height="450">&nbsp;</span><a href="/wiki/South_Dakota" title="South Dakota">South Dakota</a>
</td>
<td>884,659
</td>
<td>814,180
</td>
<td>8.7%
</td>
<td>+70,479
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>294,886
</td>
<td>884,659
</td>
<td>814,180
</td>
<td>0.27%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001480000000000000♠">48</span>
</td>
<td align="center"><span data-sort-value="7001490000000000000♠">49</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Flag_of_North_Dakota.svg/21px-Flag_of_North_Dakota.svg.png" decoding="async" width="21" height="16" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Flag_of_North_Dakota.svg/31px-Flag_of_North_Dakota.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Flag_of_North_Dakota.svg/41px-Flag_of_North_Dakota.svg.png 2x" data-file-width="575" data-file-height="450">&nbsp;</span><a href="/wiki/North_Dakota" title="North Dakota">North Dakota</a>
</td>
<td>762,062
</td>
<td>672,591
</td>
<td>13.3%
</td>
<td>+89,471
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>254,021
</td>
<td>762,062
</td>
<td>672,591
</td>
<td>0.23%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001490000000000000♠">49</span>
</td>
<td align="center"><span data-sort-value="7001480000000000000♠">48</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Alaska.svg/21px-Flag_of_Alaska.svg.png" decoding="async" width="21" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Alaska.svg/33px-Flag_of_Alaska.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flag_of_Alaska.svg/43px-Flag_of_Alaska.svg.png 2x" data-file-width="1416" data-file-height="1000">&nbsp;</span><a href="/wiki/Alaska" title="Alaska">Alaska</a>
</td>
<td>731,545
</td>
<td>710,231
</td>
<td>3.00%
</td>
<td>+21,314
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>243,848
</td>
<td>731,545
</td>
<td>710,231
</td>
<td>0.22%
</td></tr>
<tr style="background:#f5f5e4;">
<td align="center"><span data-sort-value="7001500000000000000♠">50</span>
</td>
<td align="center"><span data-sort-value="7001510000000000000♠">51</span>
</td>
<td style="text-align: left;"><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_the_District_of_Columbia.svg/23px-Flag_of_the_District_of_Columbia.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_the_District_of_Columbia.svg/35px-Flag_of_the_District_of_Columbia.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_the_District_of_Columbia.svg/46px-Flag_of_the_District_of_Columbia.svg.png 2x" data-file-width="800" data-file-height="400">&nbsp;</span><a href="/wiki/Washington,_D.C." title="Washington, D.C.">District of Columbia</a></span>
</td>
<td>705,749
</td>
<td>601,723
</td>
<td>17.3%
</td>
<td>+104,026
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#District_of_Columbia" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>235,250
</td>
<td>—
</td>
<td>—
</td>
<td>0.21%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001510000000000000♠">51</span>
</td>
<td align="center"><span data-sort-value="7001500000000000000♠">50</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Vermont.svg/23px-Flag_of_Vermont.svg.png" decoding="async" width="23" height="14" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Vermont.svg/35px-Flag_of_Vermont.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/49/Flag_of_Vermont.svg/46px-Flag_of_Vermont.svg.png 2x" data-file-width="750" data-file-height="450">&nbsp;</span><a href="/wiki/Vermont" title="Vermont">Vermont</a>
</td>
<td>623,989
</td>
<td>625,741
</td>
<td>–0.3%
</td>
<td>–1,752
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>207,996
</td>
<td>623,989
</td>
<td>625,741
</td>
<td>0.19%
</td></tr>
<tr>
<td align="center"><span data-sort-value="7001520000000000000♠">52</span>
</td>
<td align="center"><span data-sort-value="7001520000000000000♠">52</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Wyoming.svg/22px-Flag_of_Wyoming.svg.png" decoding="async" width="22" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Wyoming.svg/33px-Flag_of_Wyoming.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Flag_of_Wyoming.svg/43px-Flag_of_Wyoming.svg.png 2x" data-file-width="1000" data-file-height="700">&nbsp;</span><a href="/wiki/Wyoming" title="Wyoming">Wyoming</a>
</td>
<td>578,759
</td>
<td>563,626
</td>
<td>2.7%
</td>
<td>+15,133
</td>
<td align="center"><span data-sort-value="7000100000000000000♠">1</span>
</td>
<td>192,920
</td>
<td>578,759
</td>
<td>563,626
</td>
<td>0.17%
</td></tr>
<tr style="background:#f5f5d3;">
<td align="center"><span data-sort-value="7001530000000000000♠">53</span>
</td>
<td align="center"><span data-sort-value="7001530000000000000♠">53</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Flag_of_Guam.svg/23px-Flag_of_Guam.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/07/Flag_of_Guam.svg/35px-Flag_of_Guam.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/07/Flag_of_Guam.svg/46px-Flag_of_Guam.svg.png 2x" data-file-width="820" data-file-height="440">&nbsp;</span><a href="/wiki/Guam" title="Guam">Guam</a>
</td>
<td>168,485<sup id="cite_ref-13" class="reference"><a href="#cite_note-13">[10]</a></sup>
</td>
<td>159,358<sup id="cite_ref-14" class="reference"><a href="#cite_note-14">[11]</a></sup>
</td>
<td>5.73%
</td>
<td>+9,127
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#Guam" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>0.05%
</td></tr>
<tr style="background:#f5f5d3;">
<td align="center"><span data-sort-value="7001540000000000000♠">54</span>
</td>
<td align="center"><span data-sort-value="7001540000000000000♠">54</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Flag_of_the_United_States_Virgin_Islands.svg/23px-Flag_of_the_United_States_Virgin_Islands.svg.png" decoding="async" width="23" height="15" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Flag_of_the_United_States_Virgin_Islands.svg/35px-Flag_of_the_United_States_Virgin_Islands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Flag_of_the_United_States_Virgin_Islands.svg/45px-Flag_of_the_United_States_Virgin_Islands.svg.png 2x" data-file-width="1275" data-file-height="850">&nbsp;</span><a href="/wiki/United_States_Virgin_Islands" title="United States Virgin Islands">U.S. Virgin Islands</a>
</td>
<td>106,235<sup id="cite_ref-15" class="reference"><a href="#cite_note-15">[12]</a></sup>
</td>
<td>106,405<sup id="cite_ref-16" class="reference"><a href="#cite_note-16">[13]</a></sup>
</td>
<td>–0.16%
</td>
<td>–170
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#The_Virgin_Islands" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>0.03%
</td></tr>
<tr style="background:#f5f5d3;">
<td align="center"><span data-sort-value="7001550000000000000♠">55</span>
</td>
<td align="center"><span data-sort-value="7001560000000000000♠">56</span>
</td>
<td style="text-align: left;"><span class="nowrap"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_the_Northern_Mariana_Islands.svg/23px-Flag_of_the_Northern_Mariana_Islands.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_the_Northern_Mariana_Islands.svg/35px-Flag_of_the_Northern_Mariana_Islands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Flag_of_the_Northern_Mariana_Islands.svg/46px-Flag_of_the_Northern_Mariana_Islands.svg.png 2x" data-file-width="1100" data-file-height="550">&nbsp;</span><a href="/wiki/Northern_Mariana_Islands" title="Northern Mariana Islands">Northern Mariana Islands</a></span>
</td>
<td>51,433<sup id="cite_ref-17" class="reference"><a href="#cite_note-17">[14]</a></sup>
</td>
<td>53,883<sup id="cite_ref-18" class="reference"><a href="#cite_note-18">[15]</a></sup>
</td>
<td>–4.55%
</td>
<td>–2,450
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#Northern_Mariana_Islands" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>0.02%
</td></tr>
<tr style="background:#f5f5d3;">
<td align="center"><span data-sort-value="7001560000000000000♠">56</span>
</td>
<td align="center"><span data-sort-value="7001550000000000000♠">55</span>
</td>
<td style="text-align: left;"><span class="flagicon"><img alt="" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Flag_of_American_Samoa.svg/23px-Flag_of_American_Samoa.svg.png" decoding="async" width="23" height="12" class="thumbborder" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/87/Flag_of_American_Samoa.svg/35px-Flag_of_American_Samoa.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/87/Flag_of_American_Samoa.svg/46px-Flag_of_American_Samoa.svg.png 2x" data-file-width="1000" data-file-height="500">&nbsp;</span><a href="/wiki/American_Samoa" title="American Samoa">American Samoa</a>
</td>
<td>49,437<sup id="cite_ref-19" class="reference"><a href="#cite_note-19">[16]</a></sup>
</td>
<td>55,519<sup id="cite_ref-20" class="reference"><a href="#cite_note-20">[17]</a></sup>
</td>
<td>–10.95%
</td>
<td>–6,082
</td>
<td align="center">1 (<a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives#American_Samoa" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>0.02%
</td></tr>
<tr class="sortbottom" style="background:#d4d4cc;">
<td><span data-sort-value="7001870000000000000♠" style="display:none"></span>—
</td>
<td><span data-sort-value="7001870000000000000♠" style="display:none"></span>—
</td>
<td style="text-align: left;"><b><a href="/wiki/Contiguous_United_States" title="Contiguous United States">Contiguous United States</a></b>
</td>
<td>325,386,357
</td>
<td>306,675,006
</td>
<td>6.2%
</td>
<td>+19,011,351
</td>
<td>432
</td>
<td>616,262
</td>
<td>753,209
</td>
<td>708,285
</td>
<td>98.06%
</td></tr>
<tr class="sortbottom" style="background:lightgrey;">
<td><span data-sort-value="7001820000000000000♠" style="display:none"></span>—
</td>
<td><span data-sort-value="7001820000000000000♠" style="display:none"></span>—
</td>
<td style="text-align: left;"><b>The fifty states</b>
</td>
<td>327,533,795
</td>
<td>308,143,836
</td>
<td>6.3%
</td>
<td>+19,389,959
</td>
<td>435
</td>
<td>612,213
</td>
<td>752,951
</td>
<td>708,405
</td>
<td>98.71%
</td></tr>
<tr class="sortbottom" style="background:#d4d4cc;">
<td><span data-sort-value="7001830000000000000♠" style="display:none"></span>—
</td>
<td><span data-sort-value="7001830000000000000♠" style="display:none"></span>—
</td>
<td style="text-align: left;"><b>Fifty states + D.C.</b>
</td>
<td>328,239,523
</td>
<td>308,745,538
</td>
<td>6.3%
</td>
<td>+19,493,985
</td>
<td>435 (+ 1 <a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>610,111
</td>
<td>—
</td>
<td>—
</td>
<td>98.92%
</td></tr>
<tr class="sortbottom" style="background:#d6d6c3;">
<td><span data-sort-value="7001840000000000000♠" style="display:none"></span>—
</td>
<td><span data-sort-value="7001840000000000000♠" style="display:none"></span>—
</td>
<td style="text-align: left;"><b>Total U.S. (including D.C. and territories)</b>
</td>
<td>331,808,807
</td>
<td>312,846,492
</td>
<td>6.1%
</td>
<td>+18,962,315
</td>
<td>435 (+ 6 <a href="/wiki/Non-voting_members_of_the_United_States_House_of_Representatives" title="Non-voting members of the United States House of Representatives">non-voting</a>)
</td>
<td>—
</td>
<td>—
</td>
<td>—
</td>
<td>100.00%
</td></tr></tbody><tfoot></tfoot></table>